@model UserProfile

@{
    Layout = "_Layout";
    ViewBag.Title = "Profile";
}

<div>
    <div>Name: @Model.UserName</div>
    <div>Id: @Model.Id</div>
    @if (Model.Club != null)
    {
        <div><a asp-action="ClubProfile" asp-controller="Club" asp-route-clubId="@Model.Club.Id">Your club</a></div>
    }
</div>
