<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/lib/css/bundle.css"/>
</head>
<body>
        <div class="content_main_block">
            <div class="content_flex">
                <div class="content_row_box">
                    <div class="content_box">
                        <a asp-action="PostWall" asp-controller="Post"><div class="img-list img-shadow"></div></a>
                    </div>
                    <div class="content_box">
                        <a asp-action="AllChats" asp-controller="Chat"><div class="img-bubbles img-shadow"></div></a>
                    </div>
                    <div class="content_box">
                        <a asp-action="AllClubs" asp-controller="Club"><div class="img-group img-shadow"></div></a>
                    </div>
                </div>
                <div class="content_row_box">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <div class="content_box">
                            <a asp-action="Profile" asp-controller="User" asp-route-userName="@User.Identity.Name">Profile</a>
                        </div>
                        <div class="content_box">
                            <a asp-action="SignOut" asp-controller="SignIn">SignOut</a>
                        </div>
                    }
                    else
                    {
                        <div class="content_box">
                            <a asp-action="SignIn" asp-controller="SignIn">SignIn</a>
                        </div>
                        <div class="content_box">
                            <a asp-action="Register" asp-controller="Register">Register</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    <div class="content border_double">
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
